@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap");
:root {
  --CyanHover: hsl(180, 79%, 74%);
  --Cyan: hsl(180, 66%, 49%);
  --DarkViolet: hsl(257, 27%, 26%);
  --Red: hsl(0, 87%, 67%);
  --Gray: hsl(0, 0%, 75%);
  --GrayishViolet: hsl(257, 7%, 63%);
  --VeryDarkBlue: hsl(255, 11%, 22%);
  --VeryDarkViolet: hsl(260, 8%, 14%);
}
html {
  font-size: 10px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  position: relative;
  overflow-x: hidden; 
}
.attribution {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 11px;
  text-align: center;
  color: var(--Gray);
}
.attribution a {
  color: var(--Cyan);
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  /* overflow-x: hidden; */
}
img {
  max-width: 100%;
}
/* start header  */
header {
  margin-top: 4rem;
}
header nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 .navbar .navbar_right {
  display: flex;
  gap: 44rem;
  align-items: center;
} 
.navbar_right ul {
  display: flex;
  gap: 5rem;
  list-style: none;
  align-items: center;
}
.navbar_right .enter{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.navbar_left .logo a img {
  width: 100%;
}
.navbar_right ul li a {
  font-size: 1.5rem;
  color: var(--GrayishViolet);
  font-weight: 600;
  transition: all .5s;
}
.navbar_right ul li a:hover {
  color: var(--VeryDarkBlue);
}
.navbar_right {
  display: flex;
  gap: 4.8rem;
  align-items: center;
}
.navbar_right .login {
  color: var(--GrayishViolet);
  font-size: 1.5rem;
  font-weight: 600;
  transition: all .5s;
}
.navbar_right .login:hover {
  color: var(--VeryDarkBlue);
}
.navbar_right .signUp {
  background: var(--Cyan);
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1.1rem 2.5rem;
  border-radius: 24px;
  transition: all .5s;
}
.navbar_right .signUp:hover {
  background: var(--CyanHover);
}
.menu {
  display: none;
}
.header_part {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.header_left h1 {
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 7rem;
  max-width: 50rem;
}
.header_left p {
  font-size: 1.7rem;
  font-weight: 500;
  color: var(--GrayishViolet);
  max-width: 50rem;
  letter-spacing: 0.07rem;
  word-spacing: 0.1rem;
  margin: 2rem 0rem 4.5rem 0rem;
}
.getStarted {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1.4rem 3.5rem;
  border-radius: 24px;
  background: var(--Cyan);
  transition: all .5s;
}
.getStarted:hover {
  background: var(--CyanHover);
}
.header_right {
  width: 50%;
}
.header_right img {
  max-width:110%;
  z-index: +1;
  transform: translateX(15%);
}
/* end header  */
/* start main */
main {
  background: hsl(210, 36%, 95%);
  margin-top: 15rem;
  position: relative;
  padding-top: 10rem;
  z-index: 0;
}
.short_links {
  padding: 4.23rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.2rem;
  background: url(./images/bg-shorten-desktop.svg), var(--DarkViolet);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  transform: translateY(-120%);
}
.short_links a {
  width: 15%;
  background: var(--Cyan);
  padding: 1.5rem 2.5rem;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  transition: all .5s;
}
.short_links a:hover {
  background: var(--CyanHover);
}
.input_link {
  display: flex;
  background: #fff;
  width: 100%;
  height: 5.4rem;
  border-radius: 0.5rem;
  border: 2px solid #fff;
  transition: all .5s;
}

.input_link:hover {
  border: 2px solid var(--Red);
}
.input_link input {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0.2rem 0rem 0.2rem 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--GrayishViolet);
}
.input_link input[placeholder=" Shorten a link here..."] {
  color: var(--GrayishViolet);
}
.advanced_text {
  max-width: 44rem;
  margin: 0 auto;
}
.advanced_text h2 {
  max-width: 43rem;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 4rem;
  color: var(--VeryDarkBlue);
}
.advanced_text p {
  text-align: center;
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: var(--GrayishViolet);
  max-width: 43rem;
}
.cards {
  gap: 2rem;
  display: flex;
  margin-top: 12rem;
  justify-content: space-between;
}
.cards .card {
  z-index: 1;
  background: #fff;
  border-radius: 10px;
  padding: 1rem 3rem 4rem 3rem;
}
.border {
  position: absolute;
  height: 1px;
  width: 80rem;
  border: 4px solid var(--Cyan);
  transform: translateY(1960%);
}
.detailed {
  transform: translateY(15%);
}
.fully {
  transform: translateY(35%);
}
.card .img {
  max-width: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--DarkViolet);
  padding: 1.8rem;
  border-radius: 50%;
  transform: translateY(-70%);
}
.card .img img {
  width: 100%;
}
.card h4 {
  font-size: 2rem;
  color: var(--VeryDarkBlue);
  margin-bottom: 1.5rem;
}
.card p {
  max-width: 28rem;
  color: var(--GrayishViolet);
  font-size: 1.3rem;
  letter-spacing: 0.07rem;
  word-spacing: 0.1rem;
}
.boost {
  width: 100%;
  padding: 5.7rem;
  background: url(./images/bg-boost-desktop.svg), var(--DarkViolet);
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.boost h2 {
  text-align: center;
  color: #fff;
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
}
.boost a {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* end main */
/* start footer */
footer {
  background: var(--VeryDarkBlue);
  padding: 6rem 0rem 6rem 0rem;
}
.froote_part {
  display: flex;
  justify-content: space-between;
}
.logo a h2 {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 700;
}
.adress {
  display: flex;
  gap: 12rem;
}
ul li {
  list-style: none;
}
ul li a {
  color: var(--Gray);
  font-size: 1.3rem;
  letter-spacing: 0.03rem;
  line-height: 2rem;
  transition: all .5s;
}
ul li a:hover {
  color: var(--CyanHover);
}
ul li a h5 {
  margin-bottom: 1rem;
  color: #fff;
  font-size: 1.5rem;
}
.icons {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 2rem;
}
.icons i {
  font-size: 2.5rem;
  color: #fff;
  transition: all .5s;
}
.icons i:hover {
  color: var(--CyanHover);
}
/* end footer */

/* responsive */
@media (min-width: 970px) and (max-width: 1050px) {
  .container {
    max-width: 91rem;
    margin: 0 auto;
  }
  header {
    margin-top: 6rem;
  }
  .navbar .navbar_right{
    gap: 26rem;
  }
  .header_part {
    gap: 5rem;
  }
  .navbar_right ul {
    gap: 4rem;
  }
  .navbar_left ul li a {
    font-size: 1.3rem;
  }
  .navbar_right .login {
    font-size: 1.4rem;
  }
  .navbar_right .signUp {
    font-size: 1.3rem;
    padding: 1rem 2.5rem;
  }
  .navbar_right .signUp:hover {
    background: var(--CyanHover);
  }
  .header_right img {
    max-width: 115%;
  }
  .header_part {
    margin-top: 4.5rem;
  }
  .header_left h1 {
    font-size: 5.8rem;
    line-height: 6rem;
  }
  .header_left p {
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
    word-spacing: 0.05rem;
    margin: 2rem 0rem 4rem 0rem;
  }
  .getStarted {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 1.4rem 3.5rem;
  }
  /* end header  */
  /* start main */
  main {
    margin-top: 13rem;
    position: relative;
    padding-top: 13rem;
  }
  .short_links {
    gap: 2rem;
    padding: 4rem 3rem;
  }
  .short_links a {
    width: 12rem;
    padding: 1.7rem 2rem;
    font-size: 1.3rem;
  }
  .input_link {
    width: 80rem;
    height: 5.2rem;
    border-radius: 0.5rem;
    border: 2px solid #fff;
  }
  .advanced_text h2 {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
  }
  .advanced_text p {
    text-align: center;
    font-size: 1.2rem;
    line-height: 2.5rem;
  }
  .cards {
    margin-top: 6rem;
    gap: 2rem;
  }
  .cards .card {
    padding: 2rem 2.5rem 3.5rem 2.5rem;
  }
  .border {
    border: 3px solid var(--Cyan);
    transform: translateY(3512%);
  }
  .card .img {
    width: 7rem;
    padding: 1.2rem;
    transform: translateY(-85%);
  }
  .card h4 {
    font-size: 1.8rem;

    margin-bottom: 1.3rem;
  }
  .card p {
    max-width: 26rem;
    color: var(--GrayishViolet);
    font-size: 1.2rem;
  }
  .boost {
    height: 23rem;
    margin-top: 18rem;
  }
  .boost h2 {
    font-size: 2.8rem;
  }
  /* end main */
  /* start footer */
  footer {
    padding: 5rem 0rem 5rem 0rem;
  }
  .logo a h2 {
    font-size: 2.8rem;
  }
  .adress {
    gap: 10rem;
  }
  ul li a {
    font-size: 1rem;
    line-height: 1.8rem;
  }
  ul li a h5 {
    margin-bottom: 0.9rem;
    font-size: 1.2rem;
  }
  .icons {
    gap: 1.8rem;
  }
  .icons i {
    font-size: 2rem;
  }
  /* end footer */
}
@media (min-width: 750px) and (max-width: 970px) {
  .container {
    max-width: 72rem;
    margin: 0 auto;
  }
  header {
    margin-top: 6rem;
  }
 .navbar .navbar_right{
    display: flex;
    gap: 11rem;
  }
  .navbar_right ul {
    gap: 3.5rem;
  }
  .navbar_right ul li a {
    font-size: 1.3rem;
  }
  .enter{
    gap: 3.5rem;
  }
  .navbar_right .login {
    font-size: 1.3rem;
  }
  .navbar_right .signUp {
    font-size: 1.3rem;
    padding: 1.1rem 2.8rem;
  }
  .header_part {
    gap: 5rem;
  }
  .header_left h1 {
    font-size: 5rem;
    line-height: 6rem;
  }
  .header_left p {
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    word-spacing: 0.05rem;
    margin: 2rem 0rem 4rem 0rem;
  }
  .header_right img {
    max-width: 130%;
    transform: translateX(1%);
  }
  .getStarted {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 1.2rem 3rem;
  }
  /* end header  */
  /* start main */
  main {
    margin-top: 13rem;
    position: relative;
    padding-top: 13rem;
  }
  .short_links {
    padding: 4rem 3rem;
  }
  .short_links a {
    width: 13rem;
    padding: 1.7rem 2rem;
    font-size: 1.3rem;
  }
  .advanced_text h2 {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
  }
  .advanced_text p {
    text-align: center;
    font-size: 1.2rem;
    line-height: 2.5rem;
  }
  .cards {
    margin-top: 6rem;
  }
  .cards .card {
    padding: 1rem 2rem 3rem 2rem;
  }
  .border {
    width: 60rem;
    transform: translateY(2500%);
    border: 3px solid var(--Cyan);
  }
  .card .img {
    width: 6.5rem;
    padding: 1rem;
    transform: translateY(-70%);
  }
  .card h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .card p {
    max-width: 20rem;
    font-size: 1rem;
  }
  .boost {
    height: 23rem;
    margin-top: 18rem;
  }
  .boost h2 {
    font-size: 2.5rem;
  }
  /* end main */
  /* start footer */
  footer {
    padding: 5rem 0rem 5rem 0rem;
  }
  .logo a h2 {
    font-size: 2.5rem;
  }
  .adress {
    gap: 7rem;
  }
  ul li a {
    font-size: 1rem;
    line-height: 1.8rem;
  }
  ul li a h5 {
    margin-bottom: 0.9rem;
    font-size: 1.2rem;
  }
  .icons {
    gap: 1.5rem;
  }
  .icons i {
    font-size: 1.8rem;
  }
  /* end footer */
}
@media (min-width: 500px) and (max-width: 750px) {
  .container {
    max-width: 46rem;
    margin: 0 auto;
  }
  header {
    margin-top: 6rem;
  }
  .navbar {
    gap: 2rem;
  }
  .navbar_right ul {
    gap: 1.5rem;
  }
  .navbar_right ul li a {
    font-size: 1.1rem;
  }
  .enter{
    display: flex;
    gap: 10rem;
  }
  .navbar_right .login {
    font-size: 1rem;
  }
  .navbar .navbar_right {
    gap: 1rem;
  }
  .navbar_right .signUp {
    font-size: 1rem;
    padding: 0.5rem 1.8rem;
  }
  .navbar_left .logo a img{
    width: 9rem;
  }
  .header_right img {
    max-width: 150%;
    transform: translateY(1%);
  }
  .header_part {
    gap: 0.5rem;
  }
  .header_left h1 {
    width: 30rem;
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .header_left p {
    width: 27rem;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    word-spacing: 0.05rem;
    margin: 2rem 0rem 4rem 0rem;
  }
  .getStarted {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.8rem 2.5rem;
  }
  /* end header  */
  /* start main */
  main {
    margin-top: 13rem;
    position: relative;
    padding-top: 10rem;
  }
  .short_links {
    padding: 3rem 2.5rem;
  }
  .short_links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 115px;
    padding: 1.7rem 2rem;
    font-size: 1rem;
  }
  input{
    padding: 20rem;
  }
  .advanced_text h2 {
    width: 35rem;
    margin: 0 auto;
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .advanced_text p {
    width: 35rem;
    text-align: center;
    font-size: 1rem;
    line-height: 2rem;
    margin: 0 auto;
  }
  .cards {
    margin-top: 6rem;
    gap: 1rem;
  }
  .cards .card {
    padding: 0.5rem .8rem 1.5rem .8rem;
  }
  .border {
    width: 40rem;
    transform: translateY(2800%);
    border: 2px solid var(--Cyan);
  }
  .card .img {
    width: 5rem;
    padding: 1rem;
    transform: translateY(-70%);
  }
  .card .img img{
    width: 100%;
  }
  .card h4 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .card p {
    width: 14rem;
    font-size: 0.9rem;
  }
  .boost {
    height: 18rem;
    margin-top: 18rem;
  }
  .boost h2 {
    font-size: 2.2rem;
  }
  /* end main */
  /* start footer */
  footer {
    padding: 4rem 0rem 4rem 0rem;
  }
  .logo a h2 {
    font-size: 1.9rem;
  }
  .adress {
    gap: 2rem;
  }
  ul li a {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  ul li a h5 {
    margin-bottom: 0.9rem;
    font-size: 1.1rem;
  }
  .icons {
    gap: 1.2rem;
  }
  .icons i {
    font-size: 1.5rem;
  }
  /* end footer */
}
@media (max-width: 500px) and (min-width: 0px) {
  .container {
    max-width: 34rem;
    margin: 0 auto;
  }
  header {
    margin-top: 5rem;
  }
  .menu {
    display: block;
    width: 4rem;
    font-size: 2.5rem;
    color: var(--Gray);
  }
  /* nav{
    display: flex;
    justify-content: space-between;
  } */
  .navbar .navbar_right{
    z-index: 11;
    position: absolute;
    right: 12rem;
    top: 10rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
  .navbar .navbar_right ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
 .navbar_right .enter{
    flex-direction: column;
    gap: 2rem;
  }
   .burger{
    z-index: 10;
    position: absolute;
    background-color: var(--DarkViolet);
    width:34.9rem;
    height: 33rem;
    margin: 0 auto;
    border-radius: 1rem;
    top: 5rem;
    right: 1.3rem;
  }
  .burger.navbar_right{
    display: block;
    z-index: 11;
  } 
   .burger .line{
    z-index: 10;
    width: 30rem;
    height: 1px;
    border: .1px solid var(--Gray);
    transform: translate(8.5%, 18rem);
  } 
  .navbar_left .logo a img {
    width: 80%;
  }
  .header_part {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .header_left h1 {
    text-align: center;
    font-size: 3.65rem;
    line-height: 5rem;
    width: 27rem;
    margin-top: 5rem;
  }
  .header_left p {
    text-align: center;
    font-size: 1.3rem;
    width: 27rem;
  }
  .getStarted {
    font-size: 1.3rem;
    padding: 1.1rem 3rem;
    border-radius: 24px;
    background: var(--Cyan);
    margin-left: 25%;
  }
  .getStarted:hover {
    background: var(--CyanHover);
  }
  .header_right img {
    max-width: 40rem;
    position: relative;
    z-index: +1;
    transform: translateX(-4%);
  }
  /* end header  */
  /* start main */
  main {
    margin-top: 15rem;
    position: relative;
    padding-top: 15rem;
    z-index: 0;
  }
  .short_links {
    position: absolute;
    padding: 2rem;
    flex-wrap: wrap;
    transform: translateY(-135%);
  }
  .short_links a {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1.5rem 2.5rem;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    font-weight: 600;
  }
  .input_link {
    display: flex;
    width: 100%;
  }
  .advanced_text {
    width: 27rem;
    margin: 0 auto;
  }
  .advanced_text h2 {
    width: 27rem;
    text-align: center;
    line-height: 3.5rem;
    font-size: 2.5rem;
    margin-bottom: 1.3rem;
  }
  .advanced_text p {
    text-align: center;
    font-size: 1.4rem;
    line-height: 2.2rem;
    width: 27rem;
    margin-bottom: 12rem;
  }
  .cards {
    flex-wrap: wrap;
    width: 32rem;
    margin: 0 auto;
  }
  .cards .card {
    padding: 5rem 2rem 3.5rem 2rem;
    margin-top: 3rem;
  }
  .border {
    z-index: -1;
    position: absolute;
    height: 65rem;
    width: 0.5px;
    transform: translateX(16rem);
    border: 3px solid var(--Cyan);
  }
  .card .img {
    /* width: 20%; */
    width: 6.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translate(170%, -130%);
    background-color: var(--DarkViolet);
    padding: 1.5rem;
    border-radius: 50%;
    margin: 0 auto;
  }
  .card h4 {
    font-size: 1.9rem;
    text-align: center;
    margin-top: 1rem;
  }
  .card p {
    width: 28rem;
    color: var(--GrayishViolet);
    font-size: 1.3rem;
    letter-spacing: 0.07rem;
    word-spacing: 0.1rem;
    text-align: center;
  }
  .boost {
    width: 100%;
    background: url(./images/bg-boost-desktop.svg), var(--DarkViolet);
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .boost h2 {
    width: 30rem;
    text-align: center;
    color: #fff;
    font-size: 2.1rem;
  }
  .boost a {
    /* margin-left:25%; */
    width: 15rem;
    margin: 0 auto;
  }
  /* end main */
  /* start footer */
  footer {
    padding: 5rem 0rem 5rem 0rem;
  }
  .froote_part {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .logo a h2 {
    max-width: 100%;
    font-size: 2.3rem;
    display: flex;
    align-items: center;
    /* margin-left: 13rem; */
    justify-content: center;
    margin-bottom: 2rem;
  }
  .adress {
    /* flex-wrap: wrap; */
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 0 auto;
  }
  .adress ul {
    width: 20rem;
    margin: 0 auto;
    text-align: center;
  }
  ul li a h5 {
    color: #fff;
    font-size: 1.4rem;
  }
  ul li a {
    font-size: 1.3rem;
  }
  .icons {
    padding-top: 3rem;
    width: 10rem;
    margin: 0 auto;
  }
  .icons i {
    font-size: 2.2rem;
    color: #fff;
  }
  .icons i:hover {
    color: var(--CyanHover);
  }
  /* end footer */

  .short-urls {
    background-color: #fff;
    box-shadow: 0px 0px 10px black;
    padding: 2rem 3rem;
    border-radius: 10px;
    width: 100%;
    margin-top: -2rem;
    font-size: 1.4rem;
  margin-bottom: 4rem;
  }
  
  .short-urls h3 {
    color: #3a3053;
  }
  
  .short-urls .blue-link {
    margin-top: 2rem;
  }
  .short-urls a {
    color: var(--Cyan);
    margin-top: 2rem;
  }
  
  .btn {
    background-color: var(--Cyan);
    color: #fff;
    padding: 1rem 5rem;
    width: 100%;
    border-radius: 10px;
    margin-top: 2rem;
    border: none;
    transition: all .5s;
  }
  
  .btn:hover {
    background-color: var(--CyanHover);
  }
}
